@using System.Linq;
@using System.Collections.Generic;
@using GoFish.Models;
<link rel="stylesheet" href="~/css/styles.css">
@if(Model.Player.Id == Game.Current.WhoseTurn){
<script src="~/scripts/jquery-3.5.0.min.js"></script>
<script src="~/scripts/site.js"></script>
}
@if(Model.Player.Id != Game.Current.WhoseTurn && !Game.Current.IsGameOver())
{
  <meta http-equiv="refresh" content="3">
}

@if(Game.Current.IsGameOver())
{
  <p>@("Player " + @Game.Current.DetermineWinner().Id + "won the game")</p>
}
<p>@("It is player " + @Game.Current.WhoseTurn +"'s turn")</p>
<p>There are @Game.Current.CardDeck.Count cards left in the deck</p>
<input type="hidden" id="moves" value=@Game.Moves>
<div class="hand">
 @foreach(Card card in @Model.Player.Hand){
    string s = (card.Rank == "10") ? "10" :  card.Rank.ToCharArray()[0].ToString();
    <img class=@(card.Rank) src=@("/img/" + s + card.Suit.ToCharArray()[0].ToString() + ".png") alt=""> 
 }
  </div>

  @foreach(List<Card> pair in @Model.Player.pairs)
  {
    string p = pair[0].Rank;
    <div class=@("pair") id=@(p)>
      @foreach(Card card in pair)
      {
        string s = (card.Rank == "10") ? "10" :  card.Rank.ToCharArray()[0].ToString();
        <img class=@(s) src=@("/img/" + s + card.Suit.ToCharArray()[0].ToString() + ".png") alt=""> 
      }
    </div>
  }

@foreach(Player player in @Model.List)
{
  <div id=@player.Id class="player">
    <p>
      @("Player " + @player.Id)
    </p>
    @foreach(Card card in player.Hand)
    {
      <img src=@("/img/blue_back.png") alt="">
    }
    <div>
      @foreach(List<Card> pair in player.pairs)
      {
        <div>
          @foreach(Card card in pair)
          {
            string s = (card.Rank == "10") ? "10" :  card.Rank.ToCharArray()[0].ToString();
            <img src=@("/img/" + s + card.Suit.ToCharArray()[0].ToString() + ".png") alt=""> 
          }
        </div>
      }
    </div>
  </div>
}